<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;width: 95%;">
    <h1 style="text-align: center">
        资产管理
    </h1>

    <template>
        <div style="text-align: left">
            <el-button type="primary" icon="el-icon-edit" @click="showEdit">新增</el-button>
            <el-button icon="el-icon-edit" @click="location.reload()">刷新</el-button>
        </div>
        <el-table
                :data="dataList"
                stripe
                border
                style="width: 100%">
            <el-table-column v-for="(value, key, index) in dataList[0]"
                             :prop="key"
                             :label="dataAtt[key].title"
                             :width="dataAtt[key].width"
                             v-if="dataAtt[key].show">
            </el-table-column>
            <el-table-column label="">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" plain
                               @click="showEdit(scope.$index, scope.row)">编辑
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <el-dialog title="资产编辑" :visible.sync="openEditDialog">
        <el-form :model="editData" ref="editForm" style="width:500px">
            <el-form-item label="资产编号" label-width="200px">
                <el-input v-model="editData.code" placeholder="后台自动生成" maxlength="30"
                          :readonly="true" class="noborder"></el-input>
            </el-form-item>

            <el-form-item label="资产分类" label-width="200px" prop="classId" style="text-align: left">
                <el-select v-model="editData.classId" filterable placeholder="请选择资产分类">
                    <el-option label="请选择资产分类" value=""></el-option>
                    <el-option
                            v-for="item in classList"
                            :label="item.className"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="资产名称" label-width="200px">
                <el-input v-model="editData.assetName" placeholder="请输入资产名称"></el-input>
            </el-form-item>
            <el-form-item label="资产说明" label-width="200px">
                <el-input v-model="editData.description" placeholder="请输入资产说明"></el-input>
            </el-form-item>
            <el-form-item label="购买时间" label-width="200px" style="text-align: left">
                <el-date-picker
                        v-model="editData.buyTime"
                        type="datetime"
                        placeholder="请选择购买时间">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="购买价格" label-width="200px">
                <el-input v-model="editData.price" placeholder="请输入购买价格"></el-input>
            </el-form-item>
            <el-form-item label="库房位置" label-width="200px">
                <el-input v-model="editData.place" placeholder="请输入库房位置"></el-input>
            </el-form-item>
            <el-form-item label="资产状态" label-width="200px" prop="state" style="text-align: left">
                <el-radio-group v-model="editData.state">
                    <el-radio :label="0">库存</el-radio>
                    <el-radio :label="1">借出</el-radio>
                    <el-radio :label="2">故障</el-radio>
                    <el-radio :label="3">报废</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button icon="el-icon-success" type="primary" @click="saveData('editForm')">保 存</el-button>
            <el-button @click="hideEditDialog">取 消</el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                user: {},
                classList: [],
                dataList: [],
                dataAtt: {
                    id: {width: 40, title: 'ID', show: true},
                    code: {width: 200, title: '资产编号', show: true},
                    assetName: {width: 200, title: '资产名称', show: true},
                    classId: {width: 10, title: '资产分类ID', show: false},
                    description: {width: 250, title: '资产说明', show: true},
                    buyTime: {width: 170, title: '购买时间', show: true},
                    price: {width: 100, title: '购买价格', show: true},
                    state: {width: 10, title: '状态', show: false},
                    place: {width: 10, title: '库存位置', show: false},
                    creationTime: {width: 170, title: '创建时间', show: true},
                    lastModificationTime: {width: 170, title: '更新时间', show: true},
                },
                openEditDialog: false,
                editData: {
                    code: '',
                    assetName: '',
                    classId: '',
                    description: '',
                    buyTime: '',
                    price: 0,
                    state: 0,
                    place: '',
                },
            }
        },
        created: function () {
            this.getCurrentUser()
                .then(this.loadClasses)
                .then(this.loadAssets);
        },
        computed: {
            isAdmin: function () {
                return this.user && this.user.roles && this.user.roles.indexOf('ADMIN') >= 0;
            },
        },
        methods: {
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                }).catch(error => this.ajaxError(error));
            },
            loadClasses: function () {
                let url = '/assetClasses';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return alert('未配置资产分类');
                    }
                    if (!this.isAdmin) {
                        for (let i = response.data.length - 1; i >= 0; i--) {
                            if (response.data[i].admin !== this.user.userName) {
                                response.data.splice(i, 1);
                            }
                        }
                    }
                    this.classList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            loadAssets: function () {
                let url = '/assets';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return;
                    }
                    for (let i = 0; i < response.data.length; i++) {
                        response.data[i].price = (response.data[i].price / 100.0).toString();
                    }
                    this.dataList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            showEdit: function (idx, data) {
                this.openEditDialog = true;
                if (data) {
                    this.editData = data;
                } else {
                    this.editData = {};
                }
            },
            hideEditDialog: function () {
                this.openEditDialog = false;
                this.editData = {};
            },
            saveData: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/asset';
                    let cloneObj = JSON.parse(JSON.stringify(this.editData));
                    cloneObj.price = parseFloat(cloneObj.price.toString()) * 100;
                    return axios.post(url, cloneObj).then(response => {
                        if (!response || !response.data || !response.data.id) {
                            return alert('保存失败');
                        }
                        this.hideEditDialog();
                        this.loadAssets();
                        alert('保存成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
