<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;width: 100%;">
    <h1 style="text-align: center">
        员工管理
    </h1>

    <template>
        <div style="text-align: left">
            <el-button type="primary" icon="el-icon-edit" @click="showEdit">新增</el-button>
            <el-button icon="el-icon-refresh" @click="location.reload()">刷新</el-button>
        </div>
        <br>
        <el-table
                :data="dataList"
                stripe
                border
                style="width: 100%">
            <el-table-column v-for="(value, key, index) in dataList[0]"
                             :prop="key"
                             :label="dataAtt[key].title"
                             :width="dataAtt[key].width"
                             v-if="dataAtt[key].show">
            </el-table-column>
            <el-table-column label="部门" width="250">
                <template slot-scope="scope">{{getDepartName(scope.row.department)}}</template>
            </el-table-column>
            <el-table-column label="状态" width="80">
                <template slot-scope="scope">
                    <span :style="scope.row.state===8?'':'color:red;font-weight:bold'">
                        {{getStateName(scope.row.state)}}
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="" width="250">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" plain
                               @click="showEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button size="mini" type="success"
                               @click="handleResetPwd(scope.$index, scope.row)">密码重置
                    </el-button>
                    <el-button v-text="getRevertStateName(scope.row.state)"
                               size="mini" type="danger"
                               @click="handleDisable(scope.$index, scope.row)"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!-- 编辑弹窗 -->
    <el-dialog title="员工编辑" :visible.sync="openEditDialog">
        <el-form :model="editData" ref="editForm">
            <el-form-item label="登录账号" label-width="200px" prop="account" style="text-align: left">
                <span style="display: inline-block; width: 300px;">
                    <el-input v-model="editData.account" placeholder="请输入账号" maxlength="30"
                              :readonly="editData.id > 0" :class="editData.id > 0 ? 'noborder' : ''"></el-input>
                </span>
                <span v-show="editData.id <= 0">初始密码: 123456</span>
            </el-form-item>
            <el-form-item label="员工工号" label-width="200px" prop="code" style="text-align: left">
                <span style="display: inline-block; width: 300px;">
                    <el-input v-model="editData.code" placeholder="请输入工号" maxlength="30"></el-input>
                </span>
            </el-form-item>
            <el-form-item label="员工姓名" label-width="200px" prop="userName">
                <el-input v-model="editData.userName" placeholder="请输入姓名" maxlength="10"></el-input>
            </el-form-item>
            <el-form-item label="所属部门" label-width="200px" prop="department" style="text-align: left">
                <el-select v-model="editData.department" filterable placeholder="请选择部门">
                    <el-option
                            v-for="item in departmentList"
                            :label="item.departmentName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="角色" label-width="200px" prop="roles" style="text-align: left">
                <el-radio-group v-model="editData.roles">
                    <el-radio label="USER">普通用户</el-radio>
                    <el-radio label="ADMIN">超管</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="状态" label-width="200px" prop="state" style="text-align: left">
                <el-radio-group v-model="editData.state">
                    <el-radio :label="0">待审核</el-radio>
                    <el-radio :label="8">启用</el-radio>
                    <el-radio :label="1">禁用</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button icon="el-icon-success" type="primary" @click="saveData('editForm')">保 存</el-button>
            <el-button @click="hideEditDialog">取 消</el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                user: {},
                departmentList: [],
                dataList: [],
                dataAtt: {
                    id: {width: 40, title: 'ID', show: true},
                    code: {width: 70, title: '工号', show: true},
                    account: {width: 200, title: '登录账号', show: true},
                    userName: {width: 150, title: '姓名', show: true},
                    department: {width: 50, title: '部门id', show: false},
                    password: {width: 30, title: '密码', show: false},
                    phone: {width: 30, title: '手机', show: false},
                    sex: {width: 30, title: '性别', show: false},
                    roles: {width: 30, title: '角色', show: false},
                    state: {width: 30, title: '状态', show: false},
                    creationTime: {width: 180, title: '注册时间', show: true},
                    lastModificationTime: {width: 180, title: '更新时间', show: true},
                },
                openEditDialog: false,
                editData: this.getNewData(),
            }
        },
        created: function () {
            this.getCurrentUser()
                .then(this.loadDepartments)
                .then(this.loadUsers);
        },
        computed: {},
        methods: {
            getNewData: function () {
                return {
                    id: 0,
                    account: '',
                    code: '',
                    userName: '',
                    department: '',
                    roles: 'USER',
                    state: 8,
                };
            },
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                }).catch(error => this.ajaxError(error));
            },
            loadDepartments: function () {
                let url = '/departments';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return alert('没有找到部门列表');
                    }
                    this.departmentList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            loadUsers: function () {
                let url = '/users';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return alert('没有找到用户列表');
                    }
                    this.dataList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            getDepartName: function (departId) {
                for (let i = 0, j = this.departmentList.length; i < j; i++) {
                    let item = this.departmentList[i];
                    if (item.id === departId) {
                        return item.departmentName;
                    }
                }
                return '未找到';
            },
            getStateName: function (state) {
                switch (state) {
                    case 0:
                        return '待审核';
                    case 1:
                        return '禁用';
                    case 8:
                        return '启用';
                }
                return '未知';
            },
            getRevertStateName: function (state) {
                let newState = state === 8 ? 1 : 8;
                return this.getStateName(newState);
            },
            handleResetPwd: function (index, row) {
                if (!confirm('确认要把该账户:' + row.account + ' 的密码重置为 123456 吗？')) {
                    return;
                }

                let url = '/users/password/' + row.id;
                axios.post(url).then(response => {
                    alert('成功重置为 123456');
                }).catch(error => this.ajaxError(error));
            },
            handleDisable: function (index, row) {
                let txt = this.getRevertStateName(row.state);
                if (!confirm('确认要 ' + txt + ' 该账户:' + row.account + '吗？')) {
                    return;
                }
                let url = '/users/state/' + row.id;
                axios.post(url).then(response => {
                    if (row.state === 8) {
                        row.state = 1;
                    } else {
                        row.state = 8;
                    }
                    alert(txt + '成功');
                }).catch(error => this.ajaxError(error));
            },


            showEdit: function (idx, data) {
                this.openEditDialog = true;
                if (!data) {
                    data = this.getNewData();
                }
                Vue.set(this, 'editData', data);
            },
            hideEditDialog: function () {
                this.openEditDialog = false;
                this.editData = this.getNewData();
            },
            saveData: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    this.editData.password = 'xxx'; // 密码不会变，只为了绕过后台校验
                    let url = '/users';
                    return axios.post(url, this.editData).then(response => {
                        this.hideEditDialog();
                        this.loadUsers();
                        alert('保存成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
