<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>产品优惠项</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .el-select {
            width: 150px;
        }
    </style>
</head>

<body>
<div id="divApp">
    <h1 style="text-align: center">
        产品优惠项列表页
    </h1>
    <div>
        <div style="float: left;">
            <el-button type="primary" icon="el-icon-edit" @click="showAddDialog(null)">添加记录</el-button>

            <el-button @click="getPrevPage" :disabled="page<=0">上一页</el-button>
            <el-button @click="getAfterPage" :disabled="disCountData.length<pageSize">下一页</el-button>
            <span>&nbsp;第 {{page+1}}/{{Math.ceil(disCountTotalNum/pageSize)}} 页，总记录数 {{disCountTotalNum}} 条</span>

            <button onclick="location.reload()">刷新</button>
        </div>
    </div>
    <div style="clear: both"></div>
    <br>
    <div class="tab-content">
        <template>
            <el-table
                    :data="disCountData"
                    stripe
                    border
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        label="ID"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="优惠名称"
                        width="200">
                </el-table-column>
                <el-table-column
                        label="状态"
                        width="50">
                    <template slot-scope="scope">
                        <div>{{scope.row.status===0?'启用':'禁用'}}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        label="明细"
                        width="400">
                    <template slot-scope="scope">
                        <div v-for="(item, idx) in scope.row.offConfigs">
                            {{disCountSourceArr[item.disCountSource]}} 超过 {{item.num}} 时，
                            {{disCountTypeArr[item.type]}} {{item.off}}
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="creationTime"
                        label="创建时间"
                        width="230">
                </el-table-column>
                <el-table-column
                        label=""
                        width="400">
                    <template slot-scope="scope">
                        <el-button icon="el-icon-setting" type="warning" @click="changeStatus(scope.row)">
                            {{scope.row.status===0?'禁用':'启用'}}
                        </el-button>
                        <el-button icon="el-icon-edit" type="primary" @click="showAddDialog(scope.row)">
                            编辑
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>

    <el-dialog title="编辑优惠项" :visible.sync="openEditDialog">
        <el-form>
            <el-form-item label="优惠名称" label-width="200px">
                <el-input v-model="editData.name" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item label="优惠配置" label-width="200px" style="text-align: left">
                <div v-for="(item, idx) in editData.offConfigs">
                    <span style="display: inline-block; width: 650px;">
                        <el-select v-model="item.disCountSource" filterable placeholder="请选择优惠依据">
                            <el-option v-for="(val, key, idx) in disCountSourceArr" :value="key"
                                       :label="val"></el-option>
                        </el-select>
                        <el-input v-model="item.num" placeholder="请输入购买数量" style="width:150px;"></el-input>

                        <el-select v-model="item.type" filterable placeholder="请选择优惠类型">
                            <el-option v-for="(val, key, idx) in disCountTypeArr" :value="key"
                                       :label="val"></el-option>
                        </el-select>
                        <el-input v-model="item.off" placeholder="请输入优惠数量" style="width:150px;"></el-input>
                    </span>
                    <el-link icon="el-icon-minus" type="danger" @click="delConfig(editData, idx)"></el-link>
                    &nbsp;
                    <el-link icon="el-icon-plus" type="primary" @click="addConfig(editData)"
                             v-show="idx===0"></el-link>
                </div>
                <div>
                    <el-link icon="el-icon-plus" type="primary" @click="addConfig(editData)"
                             v-show="!editData.offConfigs || editData.offConfigs.length<=0"></el-link>
                </div>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button icon="el-icon-success" type="primary" @click="saveDisCount">保 存</el-button>
            <el-button @click="hideAddDialog">取 消</el-button>
        </div>
    </el-dialog>
</div>
<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: {
            disCountSourceArr: {
                Num: '购买IP数',
                Month: '购买月数',
                Price: '购买总价',
            },
            disCountTypeArr: {
                Percent: '打折',
                Reduce: '立减',
            },

            disCountData: [],
            disCountTotalNum: 0,
            page: 0,
            pageSize: 12,

            openEditDialog: false,
            editData: {},
        },
        created: function () {
            this.showAllDisCount();
        },
        computed: {},
        methods: {
            showAllDisCount: function () {
                let url = '/disCount/all?pageNum=' + this.page + '&pageSize=' + this.pageSize;
                axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.content || response.data.content.length <= 0) {
                        this.disCountData = [];
                        alert('无数据');
                        return;
                    }
                    this.disCountData = response.data.content;
                    this.disCountTotalNum = response.data.totalElements;
                }).catch(error => this.ajaxError(error));
            },
            getPrevPage: function () {
                if (this.page > 0) {
                    this.page--;
                    this.showAllDisCount();
                }
            },
            getAfterPage: function () {
                this.page++;
                this.showAllDisCount();
            },
            showAddDialog: function (row) {
                if (row) {
                    this.editData = row;
                } else {
                    this.editData = {};
                }
                this.openEditDialog = true;
            },
            hideAddDialog: function () {
                this.openEditDialog = false;
            },
            // 禁用 启用
            changeStatus: function (row) {
                let txt = (row.status === 0 ? '禁用' : '启用');
                if (!confirm('确认要 ' + txt + ' 该产品吗?')) {
                    return;
                }
                let url = '/disCount/status/' + row.id;
                axios.post(url).then(response => {
                    row.status = (row.status === 0 ? 1 : 0);
                    alert(txt + '成功');
                }).catch(error => this.ajaxError(error));
            },
            addConfig: function (item) {
                if (!item.offConfigs) {
                    Vue.set(item, 'offConfigs', []);
                }
                item.offConfigs.push({});
            },
            delConfig: function (item, idx) {
                item.offConfigs.splice(idx, 1);
            },
            saveDisCount: function () {
                let url = '/disCount';
                axios.post(url, this.editData).then(response => {
                    alert('添加成功');
                    if (opener) {
                        opener.window.vueApp.loadDisCounts();
                    }
                    this.showAllDisCount();
                    this.hideAddDialog();
                }).catch(error => this.ajaxError(error));
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert('出错了');
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });


    /**
     * 滚动到窗口底部
     */
    function toWindowBottom() {
        window.scrollTo(0, getWindowHeight());
    }

    /**
     * 获取窗口高度
     * @return {number} 窗口高度值
     */
    function getWindowHeight() {
        // body是chrome，documentElement是IE和Firefox
        return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string} 变量值
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>

</html>