<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>产品管理</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
</head>

<body>
<div id="divApp">
    <h1 style="text-align: center">
        产品列表
    </h1>
    <div class="tab-content">
        <template>
            <div style="text-align: left;">
                <el-button icon="el-icon-edit" type="primary" @click="showAddDialog()">新建</el-button>
                <el-button @click="getPrevPage" :disabled="page<=0">上一页</el-button>
                <el-button @click="getAfterPage" :disabled="productData.length<pageSize">下一页</el-button>
                <span>&nbsp;当前第 {{page+1}}/{{Math.ceil(productTotalNum/pageSize)}} 页，总记录数 {{productTotalNum}} 条</span>

                <el-button icon="el-icon-refresh" @click="location.reload()">刷新</el-button>
            </div>
            <br>
            <el-table
                    :data="productData"
                    stripe
                    border
                    style="width: 100%">
                <el-table-column align="center"
                                 prop="id"
                                 label="ID"
                                 width="100">
                </el-table-column>
                <el-table-column align="center"
                                 prop="name"
                                 label="产品名称"
                                 width="150">
                </el-table-column>
                <el-table-column align="center"
                                 prop="type"
                                 label="产品类型"
                                 width="100">
                </el-table-column>
                <el-table-column align="center"
                                 label="IP有效时长"
                                 width="100">
                    <template slot-scope="scope">
                        <div v-for="item in scope.row.ipValidTime">
                            {{item.minuteMin}}~{{item.minuteMax}}分钟
                        </div>
                    </template>
                </el-table-column>
                <el-table-column align="center"
                                 label="产品价格"
                                 width="100">
                    <template slot-scope="scope">
                        <div v-for="item in scope.row.ipValidTime">
                            {{item.price}}元
                        </div>
                    </template>
                </el-table-column>
                <el-table-column align="center"
                                 prop="numPerDay"
                                 label="每日/最大IP数"
                                 :render-header="renderheader"
                                 width="100">
                </el-table-column>
                <el-table-column align="center"
                                 prop="numPerTime"
                                 label="单次/最大IP数"
                                 :render-header="renderheader"
                                 width="100">
                </el-table-column>
                <el-table-column align="center"
                                 label="状态"
                                 width="50">
                    <template slot-scope="scope">
                        <span style="color:red;">{{scope.row.status===0?'启用':'禁用'}}</span>
                    </template>
                </el-table-column>
                <el-table-column align="center"
                                 prop="creationTime"
                                 label="创建时间"
                                 width="110">
                </el-table-column>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button icon="el-icon-setting" type="warning" @click="changeStatus(scope.row)">
                            {{scope.row.status===0?'禁用':'启用'}}
                        </el-button>
                        <el-button icon="el-icon-edit" type="primary" @click="showAddDialog(scope.row)">
                            编辑
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>

    <el-dialog title="产品详情" :visible.sync="openEditDialog">
        <el-form :model="editData" :rules="rulesEdit" ref="editForm">
            <el-form-item label="产品名称" label-width="200px" prop="name" style="text-align: left;">
                <el-input v-model="editData.name" placeholder="请输入产品名称"></el-input>
            </el-form-item>
            <el-form-item label="产品类型" label-width="200px" prop="type" style="text-align: left">
                <el-select v-model="editData.type" filterable placeholder="请选择产品类型">
                    <el-option v-for="(val,key,idx) in typeArr" :label="val" :value="key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="每单位价格" label-width="200px" style="text-align: left" v-if="editData.type">
                <div v-for="(item, idx) in editData.ipValidTime">
                    <span style="display: inline-block; width: 340px;">
                        <input type="text" v-model="editData.ipValidTime[idx].price"
                               style="width:45px; text-align: right">元
                        /
                        IP有效时长:
                        <input v-model="editData.ipValidTime[idx].minuteMin"
                               style="width:30px; text-align: right">
                        ~
                        <input v-model="editData.ipValidTime[idx].minuteMax"
                               style="width:30px; text-align: right">
                        分钟
                    </span>
                    <el-link icon="el-icon-minus" type="danger" @click="delPrice(editData, idx)"></el-link>
                    &nbsp;
                    <el-link icon="el-icon-plus" type="primary" @click="addPrice(editData)"
                             v-show="idx===0"></el-link>
                </div>
                <div>
                    <el-link icon="el-icon-plus" type="primary" @click="addPrice(editData)"
                             v-show="!editData.ipValidTime || editData.ipValidTime.length<=0"></el-link>
                </div>
            </el-form-item>
            <el-form-item label="每日最大IP数" label-width="200px" prop="numPerDay" style="text-align: left;">
                <el-input v-model="editData.numPerDay" placeholder="请输入每日最大IP数"></el-input>
            </el-form-item>
            <el-form-item label="单次最大IP数" label-width="200px" prop="numPerTime" style="text-align: left;">
                <el-input v-model="editData.numPerTime" placeholder="请输入单次最大IP数"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button icon="el-icon-success" type="primary" @click="saveData('editForm')">保 存</el-button>
            <el-button icon="el-icon-cancel" @click="hideAddDialog">取 消</el-button>
        </div>
    </el-dialog>
</div>
<script>
    var vueApp = new Vue({
        el: '#divApp',
        data: {
            typeArr: {
                MONTH: '包月',
                QUARTER: '包季',
                YEAR: '包年',
                STREAM: '按量',
            },
            productData: [],
            productTotalNum: 0,
            page: 0,
            pageSize: 12,

            openEditDialog: false,
            editData: {},
            rulesEdit: {
                name: [
                    {required: true, message: '不能为空', trigger: 'blur'},
                    {min: 2, max: 20, message: '长度为2~20个字', trigger: 'blur'},
                ],
                type: [
                    {required: true, message: '必选', trigger: 'change'},
                ],
                numPerDay: [
                    {required: true, message: '不能为空', trigger: 'blur'},
                    {pattern: /^\d{1,10}$/, message: '格式有误'},
                ],
                numPerTime: [
                    {required: true, message: '不能为空', trigger: 'blur'},
                    {pattern: /^\d{1,10}$/, message: '格式有误'},
                ],
            },
        },
        created: function () {
            this.showAllProduct();
        },
        computed: {},
        methods: {
            showAllProduct: function () {
                let url = '/product/all?pageNum=' + this.page + '&pageSize=' + this.pageSize;
                axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.content || response.data.content.length <= 0) {
                        this.productData = [];
                        alert('无数据');
                        return;
                    }
                    for (let i = 0, j = response.data.content.length; i < j; i++) {
                        let item = response.data.content[i];
                        for (let m = 0, n = item.ipValidTime.length; m < n; m++) {
                            item.ipValidTime[m].price = item.ipValidTime[m].price / 100;
                        }
                    }
                    this.productData = response.data.content;
                    this.productTotalNum = response.data.totalElements;
                }).catch(error => this.ajaxError(error));
            },
            getPrevPage: function () {
                if (this.page > 0) {
                    this.page--;
                    this.showAllProduct();
                }
            },
            getAfterPage: function () {
                this.page++;
                this.showAllProduct();
            },
            // 禁用 启用
            changeStatus: function (row) {
                let txt = (row.status === 0 ? '禁用' : '启用');
                if (!confirm('确认要 ' + txt + ' 该产品吗?')) {
                    return;
                }
                let url = '/product/status/' + row.id;
                axios.post(url).then(response => {
                    row.status = (row.status === 0 ? 1 : 0);
                    alert(txt + '成功');
                }).catch(error => this.ajaxError(error));
            },
            showAddDialog: function (row) {
                if (row) {
                    this.editData = row;
                } else {
                    this.editData = {};
                }
                this.openEditDialog = true;
            },
            hideAddDialog: function () {
                this.openEditDialog = false;
            },
            addPrice: function (item) {
                if (!item.ipValidTime) {
                    Vue.set(item, 'ipValidTime', []);
                    // item.ipValidTime = []; // 无法双向绑定
                }
                item.ipValidTime.push({minuteMin: 1, minuteMax: 3, price: 100});
            },
            delPrice: function (item, idx) {
                item.ipValidTime.splice(idx, 1);
            },
            saveData: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;

                    let url = '/product';
                    let postData = JSON.parse(JSON.stringify(this.editData));
                    for (let i = 0, j = postData.ipValidTime.length; i < j; i++) {
                        postData.ipValidTime[i].price = Math.floor(parseFloat(postData.ipValidTime[i].price) * 100);// 后台存储分
                    }
                    return axios.post(url, postData).then(response => {
                        alert('保存成功');
                        this.hideAddDialog();
                        this.showAllProduct();
                    }).catch(error => this.ajaxError(error));
                });
            },

            // 用于表格标题换行
            renderheader: function (h, {column, $index}) {
                return h('span', {}, [
                    h('span', {}, column.label.split('/')[0]),
                    h('br'),
                    h('span', {}, column.label.split('/')[1])
                ]);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['Msg'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert('出错了');
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });


    /**
     * 滚动到窗口底部
     */
    function toWindowBottom() {
        window.scrollTo(0, getWindowHeight());
    }

    /**
     * 获取窗口高度
     * @return {number} 窗口高度值
     */
    function getWindowHeight() {
        // body是chrome，documentElement是IE和Firefox
        return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string} 变量值
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>

</html>