<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;width: 1000px;">
    <h1 style="text-align: center">
        资产领用
    </h1>
    <el-form :model="editData" ref="editForm" style="width:500px">
        <el-form-item label="领用原因" label-width="200px" style="text-align: left;">
            <el-select v-model="editData.subType" filterable placeholder="请选择领用原因">
                <el-option label="请选择领用原因" value=""></el-option>
                <el-option
                        v-for="item in getTypeList"
                        :label="item.description"
                        :value="item.code">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="资产分类" label-width="200px" prop="classId" style="text-align: left">
            <el-select v-model="editData.classId" filterable placeholder="请选择资产分类">
                <el-option label="请选择资产分类" value=""></el-option>
                <el-option
                        v-for="item in classList"
                        :label="item.className"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="领用说明" label-width="200px">
            <el-input type="textarea"
                      :autosize="{ minRows: 5, maxRows: 20}"
                      v-model="editData.description" placeholder="请输入领用说明"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer" style="text-align: center; width:400px;">
        <el-button icon="el-icon-success" type="primary" @click="saveData('editForm')">保 存</el-button>
    </div>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                user: {},
                getTypeList: [],
                classList: [],
                editData: {
                    type: 'assetGet',
                    subType: '',
                    classId: '',
                    description: '',
                },
            }
        },
        created: function () {
            this.getCurrentUser()
                .then(this.loadConfigs)
                .then(this.loadClasses);
        },
        computed: {},
        methods: {
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                }).catch(error => this.ajaxError(error));
            },
            loadConfigs: function () {
                let url = '/configses/assetGet';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return;
                    }
                    this.getTypeList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            loadClasses: function () {
                let url = '/assetClasses';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return;
                    }
                    this.classList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            saveData: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/assetaudit';
                    return axios.post(url, this.editData).then(response => {
                        if (!response || !response.data || !response.data.id) {
                            return alert('保存失败');
                        }
                        alert('保存成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
