<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }

        .el-form-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;width: 95%;">
    <h1 style="text-align: center">
        我的资产列表
    </h1>

    <template>
        <div style="text-align: left">
            <el-button icon="el-icon-edit" @click="location.reload()">刷新</el-button>
        </div>
        <el-table
                :data="dataList"
                stripe
                border
                style="width: 100%">
            <el-table-column v-for="(value, key, index) in dataList[0]"
                             :prop="key"
                             :label="dataAtt[key].title"
                             :width="dataAtt[key].width"
                             v-if="dataAtt[key].show">
            </el-table-column>

            <el-table-column label="资产分类" width="100">
                <template slot-scope="scope">{{getClassName(scope.row.classId)}}</template>
            </el-table-column>

            <el-table-column label="">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" plain
                               @click="showDetail(scope.$index, scope.row)">详情
                    </el-button>
                    <el-button size="mini" type="warning" plain
                               @click="showReturn(scope.$index, scope.row)">退库
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                user: {},
                classList: [],
                dataList: [],
                stateList: [
                    '库存',
                    '借出',
                    '故障',
                    '报废',
                ],
                dataAtt: {
                    id: {width: 40, title: 'ID', show: true},
                    code: {width: 200, title: '资产编号', show: true},
                    assetName: {width: 200, title: '资产名称', show: true},
                    classId: {width: 10, title: '资产分类ID', show: false},
                    description: {width: 250, title: '资产说明', show: true},
                    buyTime: {width: 170, title: '购买时间', show: false},
                    price: {width: 100, title: '购买价格', show: true},
                    state: {width: 10, title: '状态', show: false},
                    place: {width: 10, title: '库存位置', show: false},
                    creationTime: {width: 170, title: '入库时间', show: true},
                    lastModificationTime: {width: 170, title: '更新时间', show: false},
                    account: {width: 150, title: '借用人', show: false},
                    accountTime: {width: 170, title: '借用时间', show: true},
                },
            }
        },
        created: function () {
            this.getCurrentUser()
                .then(this.loadClasses)
                .then(this.loadAssets);
        },
        computed: {
            isAdmin: function () {
                return this.user && this.user.roles && this.user.roles.indexOf('ADMIN') >= 0;
            },
        },
        methods: {
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                }).catch(error => this.ajaxError(error));
            },
            loadClasses: function () {
                let url = '/assetClasses';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return alert('未配置资产分类');
                    }
                    if (!this.isAdmin) {
                        for (let i = response.data.length - 1; i >= 0; i--) {
                            if (response.data[i].admin !== this.user.userName) {
                                response.data.splice(i, 1);
                            }
                        }
                    }
                    this.classList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            loadAssets: function () {
                if (this.classList.length <= 0) {
                    return;
                }
                let url = '/assets/mine';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return;
                    }
                    for (let i = 0; i < response.data.length; i++) {
                        response.data[i].price = (response.data[i].price / 100.0).toString();
                    }
                    this.dataList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            getClassName: function (classId) {
                for (let i = 0, j = this.classList.length; i < j; i++) {
                    let item = this.classList[i];
                    if (item.id === classId) {
                        return item.className;
                    }
                }
            },
            showDetail: function (idx, data) {
                window.open('/profile/asset.html?code=' + data.code);
            },
            showReturn: function (idx, data) {
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
            testtt: function () {
                let item = this.dataList[0];
                for (const att in item) {
                    console.log(att + "---" + this.dataAtt[att].show);
                }
            },
        },
    });
</script>
</body>
</html>
