<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
</head>
<body>
<div id="divApp" style="text-align: center;">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>账户相关</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click.native="switchTab(11)">个人信息</el-menu-item>
                        <el-menu-item index="1-2" @click.native="switchTab(12)">修改密码</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>资产相关</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click.native="switchTab(21)">我的资产</el-menu-item>
                        <el-menu-item index="2-2" @click.native="switchTab(22)">资产领用</el-menu-item>
                        <el-menu-item index="2-6" @click.native="switchTab(26)"
                                      v-if="isAdmin">部门维护
                        </el-menu-item>
                        <el-menu-item index="2-7" @click.native="switchTab(26)"
                                      v-if="isAdmin">用户管理
                        </el-menu-item>
                        <el-menu-item index="2-8" @click.native="switchTab(27)"
                                      v-if="isAdmin">资产分类管理
                        </el-menu-item>
                        <el-menu-item index="2-9" @click.native="switchTab(27)"
                                      v-if="isAdmin">资产管理
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="goProfile">个人中心</el-dropdown-item>
                        <el-dropdown-item @click.native="doLogout">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{user.name}}</span>
            </el-header>

            <!-- 用户充值 -->
            <el-main v-show="showTab===14">
                <iframe v-if="showTab===14" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 购买代理 -->
            <el-main v-show="showTab===21">
                <iframe v-if="showTab===21" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 用户订单 -->
            <el-main v-show="showTab===22">
                <iframe v-if="showTab===22" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 用户管理 -->
            <el-main v-show="showTab===26" v-if="isAdmin">
                <iframe v-if="showTab===26" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 代理管理 -->
            <el-main v-show="showTab===27" v-if="isAdmin">
                <iframe v-if="showTab===27" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 用户充值管理 -->
            <el-main v-show="showTab===28" v-if="isAdmin">
                <iframe v-if="showTab===28" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 用户订单管理 -->
            <el-main v-show="showTab===25" v-if="isAdmin">
                <iframe v-if="showTab===25" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

            <!-- 站点配置管理 -->
            <el-main v-show="showTab===29" v-if="isAdmin">
                <iframe v-if="showTab===29" :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                showTab: 11,
                user: {},
                isAdmin: false,
                allPage: {
                    11: '/profile/user.html',    // 充值页面
                    21: '/profile/product.html',// 用户购买页
                    22: '/profile/buylist.html', // 用户已购订单页
                    26: '/admin/user.html',     // 管理用户列表页
                    27: '/admin/list.html',       // 管理ip列表页
                    28: '/admin/charge.html', // 管理员查看充值页面
                    25: '/admin/buylist.html',     // 管理用户订单列表页
                    29: '/admin/config.html',  // 站点配置页面
                },
            }
        },
        created: function () {
        },
        computed: {},
        methods: {
            switchTab: function (tab) {
                this.showTab = tab;
            },
            goProfile: function () {
                location.href = '/profile/nav.html';
            },
            doLogout: function () {
                location.href = '/logout';
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
