<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        .el-submenu__title {
            background-color: #E6E6E6;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="defaultOpenArr">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>账户相关</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click.native="switchTab(11)">个人信息</el-menu-item>
                        <el-menu-item index="1-2" @click.native="switchTab(12)">修改密码</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>资产信息
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click.native="switchTab(21)">我的资产</el-menu-item>
                        <el-menu-item index="2-2" @click.native="switchTab(22)">资产领用</el-menu-item>
                        <el-menu-item index="2-3" @click.native="switchTab(23)">资产退库</el-menu-item>
                        <el-menu-item index="2-4" @click.native="switchTab(24)" v-if="isAdmin || classId > 0">资产审核
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3" v-if="isAdmin || classId > 0">
                    <template slot="title"><i class="el-icon-setting"></i>管理功能</template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1" @click.native="switchTab(31)" v-if="isAdmin">部门维护</el-menu-item>
                        <el-menu-item index="3-2" @click.native="switchTab(32)" v-if="isAdmin">用户管理</el-menu-item>
                        <el-menu-item index="3-3" @click.native="switchTab(33)" v-if="isAdmin">分类管理</el-menu-item>
                        <el-menu-item index="3-4" @click.native="switchTab(34)" v-if="isAdmin || classId > 0">资产管理
                        </el-menu-item>
                        <el-menu-item index="3-5" @click.native="switchTab(35)" v-if="isAdmin">配置维护</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="4" v-if="isAdmin || classId > 0">
                    <template slot="title"><i class="el-icon-setting"></i>统计分析</template>
                    <el-menu-item-group>
                        <el-menu-item index="4-1" @click.native="switchTab(41)">资产分类统计</el-menu-item>
                        <el-menu-item index="4-2" @click.native="switchTab(42)">资产状态统计</el-menu-item>
                        <el-menu-item index="4-3" @click.native="switchTab(43)">领用分类统计</el-menu-item>
                        <el-menu-item index="4-4" @click.native="switchTab(44)">领用部门统计</el-menu-item>
                        <el-menu-item index="4-5" @click.native="switchTab(45)">借还原因分析</el-menu-item>
                        <el-menu-item index="4-6" @click.native="switchTab(46)">用户领用分析</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px">{{user.userName}}</i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="goProfile">个人中心</el-dropdown-item>
                        <el-dropdown-item @click.native="doLogout">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--                <a href="javascript:void(0)" @click="goProfile">{{user.userName}}</a>-->
            </el-header>

            <!-- 右侧展示 -->
            <el-main>
                <iframe :src="allPage[showTab]" width="100%" height="95%" scrolling="auto"
                        frameborder="0"></iframe>
            </el-main>

        </el-container>
    </el-container>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                defaultOpenArr: ['1', '2', '3', '4'],
                showTab: 11,
                user: {},
                classId: 0,
                allPage: {
                    11: '/profile/user.html',       // 个人信息页面
                    12: '/profile/pwd.html',        // 修改密码页面
                    21: '/profile/assetsMine.html', // 我的资产页面
                    22: '/profile/assetAudit.html', // 资产借用页面
                    23: '/profile/assetReturn.html',// 资产借用页面
                    24: '/admin/assetAudit.html',   // 资产借用审核页面
                    31: '/admin/departments.html',  // 部门列表管理页面
                    32: '/admin/users.html',        // 用户列表管理页面
                    33: '/admin/assetsClass.html',  // 资产分类管理页面
                    34: '/admin/assets.html',       // 资产管理页面
                    35: '/admin/configs.html',      // 配置管理页面
                    41: '/report/assetsReport.html?type=class',// 资产分类统计报表
                    42: '/report/assetsReport.html?type=state',// 资产状态统计报表
                    43: '/report/assetsReport.html?type=classGet',// 领用分类统计报表
                    44: '/report/assetsReport.html?type=depart',// 领用部门统计报表
                    45: '/report/auditAnalyse.html',// 借还原因分析报表
                    46: '/report/userAnalyse.html', // 用户资产分析报表
                },
            }
        },
        created: function () {
            this.getCurrentUser().then(this.getAdminClass);
            this.adjustAllIframe();
        },
        computed: {
            isAdmin: function () {
                return this.user && this.user.roles && this.user.roles.indexOf('ADMIN') >= 0;
            },
        },
        methods: {
            switchTab: function (tab) {
                this.showTab = tab;
            },
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        this.goLogin();
                    }
                }).catch(error => this.ajaxError(error));
            },
            getAdminClass: function () {
                let url = '/assetClassByUser';
                return axios.get(url).then(response => {
                    this.classId = response.data;
                }).catch(error => this.ajaxError(error));
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            goProfile: function () {
                top.location.href = '/profile/nav.html';
            },
            doLogout: function () {
                top.location.href = '/logout';
            },
            adjustAllIframe: function () {
                let iframes = document.getElementsByTagName('IFRAME');
                for (let i = 0, j = iframes.length; i < j; i++) {
                    let item = iframes[i];
                    this.adjustIframe(item);
                }
            },
            adjustIframe: function (ifrm) {
                //const deviceWidth = document.documentElement.clientWidth;
                const deviceHeight = document.documentElement.clientHeight;
                //ifrm.style.width = (Number(deviceWidth) - 220) + 'px'; //数字是页面布局宽度差值
                ifrm.style.height = (Number(deviceHeight) - 120) + 'px'; //数字是页面布局高度差
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string} 变量值
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>
