<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;">
    <el-form :model="register" :rules="rulesRegister" ref="registerForm" style="width:500px">
        <h1 style="text-align: center">
            修改密码
        </h1>
        <el-form-item label="当前账号" label-width="200px" prop="account">
            <el-input v-model="register.account" placeholder="请输入账号" maxlength="30"
                      readonly="true" class="noborder"></el-input>
        </el-form-item>
        <el-form-item label="旧的密码" label-width="200px" prop="passwordOld">
            <el-input v-model="register.passwordOld" placeholder="请输入旧的密码" maxlength="30" show-password></el-input>
        </el-form-item>
        <el-form-item label="新的密码" label-width="200px" prop="password">
            <el-input v-model="register.password" placeholder="请输入新的密码" maxlength="30" show-password></el-input>
        </el-form-item>
        <el-form-item label="密码确认" label-width="200px" prop="passwordConfirm">
            <el-input v-model="register.passwordConfirm" placeholder="请再次输入密码" maxlength="30"
                      show-password></el-input>
        </el-form-item>
        <div>
            <el-button icon="el-icon-success" type="primary" @click="doRegister('registerForm')">保 存</el-button>
        </div>
    </el-form>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            let validatePass = (rule, value, callback) => {
                if (this.register.password != this.register.passwordConfirm)
                    return callback(new Error('两次密码输入不一致.'));
                return callback();
            };
            return {
                user: {},
                register: {
                    account: '',
                    passwordOld: '',
                    password: '',
                    passwordConfirm: '',
                },
                rulesRegister: {
                    account: [
                        {required: true, message: '账号必填', trigger: 'blur'},
                        {min: 3, max: 30, message: '账号长度为3~30个字符', trigger: 'blur'},
                    ],
                    passwordOld: [
                        {required: true, message: '旧密码必填', trigger: 'blur'},
                        {min: 6, max: 30, message: '密码长度为6~30个字符', trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '新密码必填', trigger: 'blur'},
                        {min: 6, max: 30, message: '密码长度为6~30个字符', trigger: 'blur'},
                    ],
                    passwordConfirm: [
                        {required: true, message: '确认密码必填', trigger: 'blur'},
                        {min: 6, max: 30, message: '密码长度为6~30个字符', trigger: 'blur'},
                        {validator: validatePass, trigger: 'blur'},
                    ],
                },
            }
        },
        created: function () {
            this.getCurrentUser();
        },
        computed: {},
        methods: {
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                    this.register.account = this.user.account;
                }).catch(error => this.ajaxError(error));
            },
            doRegister: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/users/password';
                    return axios.post(url, this.register).then(response => {
                        alert('密码修改成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
