<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>固定资产管理系统</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/elemeIndex.js"></script>
    <script type="text/javascript" src="/res/qs.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>
<body>
<div id="divApp" style="text-align: center;">
    <el-form :model="register" :rules="rulesRegister" ref="registerForm" style="width:500px">
        <h1 style="text-align: center">
            员工信息
        </h1>
        <el-form-item label="当前账号" label-width="200px" prop="account">
            <el-input v-model="register.account" placeholder="请输入账号" maxlength="30"
                      readonly="true" class="noborder"></el-input>
        </el-form-item>
        <el-form-item label="员工工号" label-width="200px" prop="code">
            <el-input v-model="register.code" placeholder="请输入工号" maxlength="30"></el-input>
        </el-form-item>
        <el-form-item label="员工姓名" label-width="200px" prop="userName">
            <el-input v-model="register.userName" placeholder="请输入姓名" maxlength="10"></el-input>
        </el-form-item>
        <el-form-item label="所属部门" label-width="200px" prop="department" style="text-align: left">
            <el-select v-model="register.department" filterable placeholder="请选择部门">
                <el-option label="请选择部门" value=""></el-option>
                <el-option
                        v-for="item in departmentList"
                        :label="item.departmentName"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="员工状态" label-width="200px" prop="account">
            <el-input :value="getStateName(user.state)"
                      readonly="true" class="noborder"></el-input>
        </el-form-item>
        <el-form-item label="注册时间" label-width="200px" prop="account">
            <el-input v-model="user.creationTime" maxlength="30"
                      readonly="true" class="noborder"></el-input>
        </el-form-item>
        <div>
            <el-button icon="el-icon-success" type="primary" @click="updateUser('registerForm')">保 存</el-button>
        </div>
    </el-form>
</div>
<script type="text/javascript">
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                user: {},
                departmentList: [],
                register: {
                    account: '',
                    code: '',
                    userName: '',
                    department: '',
                    password: 'xx',// 无作用，纯粹用于跳过后端校验
                },
                rulesRegister: {
                    account: [
                        {required: true, message: '账号必填', trigger: 'blur'},
                        {min: 3, max: 30, message: '账号长度为3~30个字符', trigger: 'blur'},
                    ],
                    code: [
                        {required: true, message: '工号不能为空', trigger: 'blur'},
                        // {pattern: /^1\d{10}$/, message: '手机号格式有误'},
                    ],
                    userName: [
                        {required: true, message: '姓名不能为空', trigger: 'blur'},
                    ],
                    department: [
                        {required: true, message: '部门必须选择', trigger: 'blur'},
                    ],
                },
            }
        },
        created: function () {
            this.getCurrentUser().then(this.loadDepartments);
        },
        computed: {},
        methods: {
            getCurrentUser: function () {
                let url = '/login/currentUser';
                return axios.get(url).then(response => {
                    this.user = response.data;
                    if (!this.user) {
                        return this.goLogin();
                    }
                    this.register.account = this.user.account;
                    this.register.code = this.user.code;
                    this.register.userName = this.user.userName;
                    this.register.department = this.user.department;
                }).catch(error => this.ajaxError(error));
            },
            loadDepartments: function () {
                let url = '/departments';
                return axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.length) {
                        return alert('没有找到部门配置，请联系管理员配置');
                    }
                    this.departmentList = response.data;
                }).catch(error => this.ajaxError(error));
            },
            updateUser: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/login/users';
                    return axios.post(url, this.register).then(response => {
                        if (!response || !response.data || !response.data.id) {
                            return alert('资料修改失败');
                        }
                        alert('资料修改成功，请等待管理员审核');
                    }).catch(error => this.ajaxError(error));
                });
            },
            goLogin: function () {
                top.location.href = '/login/index.html?returnUrl=' + encodeURIComponent(location.href);
            },
            getStateName: function (state) {
                switch (state) {
                    case 0:
                        return '待审核';
                    case 1:
                        return '禁用';
                    case 8:
                        return '已审核';
                }
                return '未知';
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (msg && msg === 'Unauthorized') {
                        this.goLogin();
                    } else {
                        alert(msg ? msg : '出错了');
                    }
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>
