<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
        <gcConcurrent enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin" /> <!-- 当前目录不存在dll时，要去bin目录下查找 -->
        </assemblyBinding>
    </runtime>
</configuration>