<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆登记系统</title>
    <script src="res/unpkg/vue.min.js"></script>
    <script src="res/unpkg/axios.min.js"></script>
    <script src="res/unpkg/vue-multiselect.min.js"></script>
    <link rel="stylesheet" href="res/unpkg/vue-multiselect.min.css">
    <script src="res/rowColor.js"></script>
    <script src="res/qs.min.js"></script>
    <style>
        .tabs { /* tab选项卡外围 */
            width: 95%;
            padding: 0;
        }

        .li-tab { /* tab的每个选项卡 */
            width: 30vw;
            display: inline-block;
            text-align: center;
            float: left;
            border: 1px solid white;
            background-color: gray;
            cursor: pointer;
        }

        .active { /* tab活动选项卡 */
            background-color: #99ffff !important;
        }

        .divTab { /* tab内容 */
            width: 95%;
        }

        input[type=text], input[type=button] {
            font-size: 50px;
            line-height: 90%;
            -webkit-appearance: none;
            width: 95%;
            margin: 5px 5px 5px 5px;
        }

        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(4); /* IE */
            -moz-transform: scale(4); /* FF */
            -webkit-transform: scale(4); /* Safari and Chrome */
            -o-transform: scale(4); /* Opera */
            transform: scale(4);
            padding: 10px;
        }

        td {
            text-align: center;
            vertical-align: center;
        }
    </style>
</head>
<body>

<div id="divApp" style="font-size: 50px; text-align: center;">
    <ul class="tabs">
        <li :class="{active:0==tab.tabIndex}" class="li-tab" @click="toggleTabs(0)">查看</li>
        <li :class="{active:1==tab.tabIndex}" class="li-tab" @click="toggleTabs(1)">编辑车辆</li>
    </ul>
    <div class="tab-content">
        <!-- tab 1 -->
        <div v-show="tab.tabIndex===0" class="divTab">
            <div>
                <div style="float: left;">
                    <div>
                        <span style="display: inline-block;width:20vw;">车牌：</span>
                        <div style="width: 70vw; display: inline-block;">
                            <input type="text" v-model="condition.carNumber">
                        </div>
                    </div>
                    <div>
                        <div style="width: 25vw; display: inline-block;">
                            <input type="button" value="查找" @click="doSearch">
                        </div>
                        <div style="width: 25vw; display: inline-block;">
                            <input type="button" value="添加车辆" @click="addCar">
                        </div>
                        &nbsp;
                        <span style="color: blue;">共{{cars.length}}辆车</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <hr>
            <table border="1" style="width: 95%; border: 1px solid black;">
                <tr style="height: 12vw;">
                    <th><a href="javascript:void(0)" @click="sortData('sn')">停车证</a></th>
                    <th>
                        <a href="javascript:void(0)" @click="sortData('carNumber')">车牌</a></th>
                    <th>
                        <a href="javascript:void(0)" @click="sortData('address')">住址</a></th>
                </tr>
                <tr v-for="(item, idx) in cars" @click="editItem(item)" style="height: 12vw;">
                    <td>{{item.sn}}</td>
                    <td><a href="javascript:void(0)">{{item.carNumber}}</a></td>
                    <td>{{item.address}}</td>
                </tr>
            </table>
        </div>
        <!-- tab 2 -->
        <div v-show="tab.tabIndex===1" class="divTab">
            <table border="1" style="width:95%; border: 1px solid black;">
                <tbody>
                <tr>
                    <th style="width: 20vw;">停车证</th>
                    <td style="width:80vw;"><input type="text" v-model="editCar.sn"></td>
                </tr>
                <tr>
                    <th>车牌</th>
                    <td><input type="text" v-model="editCar.carNumber"></td>
                </tr>
                <tr>
                    <th>住址</th>
                    <td><input type="text" v-model="editCar.address"></td>
                </tr>
                <tr>
                    <th>手机</th>
                    <td style="text-align: left;">
                        <input type="text" v-model="editCar.phone" style="width:35vw;">
                        <input type="button" value="完整手机号" v-if="editCar.id" @click="showPhone" style="width:30vw;">
                    </td>
                </tr>
                <tr>
                    <th>户主</th>
                    <td>
                        <label><input type="checkbox" v-model="editCar.owner"></label>
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td><input type="text" v-model="editCar.remark"></td>
                </tr>
                <tr>
                    <th>众筹</th>
                    <td><input type="text" v-model="editCar.money"></td>
                </tr>
                <tr>
                    <th>IP</th>
                    <td>{{editCar.ip}} {{editCar.addTime}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input v-show="loginUser" type="button" value="保存" @click="saveCar" style="width: 25vw;">
                        <span v-show="!loginUser">未登录，不能编辑</span>
                        <input type="button" value="返回" @click="toggleTabs(0)" style="width: 25vw;">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--  弹窗浮层
        <button type="button" @click="showModal">打开弹出层</button>-->
    <div style="display: none;background: lightblue;border:1px solid green; width:95%;height:600px; overflow-y: auto; text-align: left;"
         id="divToast">
        <a href="javascript:;" @click="closeModal">【关闭弹窗】</a>
        <!-- 弹窗内容  -->
        <div>
            <div>只有列表中人员可查看</div>
            <div>
                请输入您的完整手机号：
                <input type="text" v-model="condition.phone" style="width:35vw;">
            </div>
            <div>
                <input type="button" value="查看" @click="checkAndShowPhone">
            </div>
        </div>
    </div>
</div>

<script>
    var vueApp = new Vue({
        el: '#divApp',
        components: {
            Multiselect: window.VueMultiselect.default
        },
        data: {
            tab: {
                tabIndex: 0,
                title: '',
            },
            condition: {
                carNumber: '',
                phone: '',
            },
            loginUser: '',
            cars: [],
            editCar: {
                id: 0,
                sn: '',
                address: '',
                owner: false,
                addTime: '',
                carNumber: '',
                money: 0,
                remark: '',
                ip: '',
            },
        },
        created: function () {
            this.loadLoginUser();
            this.loadCars();
        },
        methods: {
            toggleTabs: function (idx) {
                this.tab.tabIndex = idx;
            },
            loadLoginUser: function () {
                let url = '/v1/user';
                axios.get(url).then(response => {
                    this.loginUser = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            initCar: function () {
                let empty = {
                    id: 0,
                    sn: '',
                    address: '',
                    owner: false,
                    addTime: '',
                    carNumber: '',
                    money: 0,
                    remark: '',
                    ip: '',
                };
                Vue.set(this, "editCar", empty);
            },
            sortData: function (field) {
                this.cars.sort((a, b) => {
                    if (a[field] > b[field])
                        return 1;
                    else if (a[field] < b[field])
                        return -1;
                    return 0;
                });
            },
            loadCars: function () {
                this.cars = [];
                this.toggleTabs(0);
                this.initCar();
                let url = '/v1/cars?carNumber=' + encodeURIComponent(this.condition.carNumber);
                // 箭头函数，可以直接在响应在使用 this（就是vueApp)
                axios.get(url).then(response => {
                    if (!response.data || response.data.length <= 0) {
                        // alert('未找到数据');
                        return;
                    }
                    for (let i = 0, j = response.data.length; i < j; i++) {
                        let item = response.data[i];
                        item.money = this.intToMoney(item.money);
                    }
                    this.cars = response.data;
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            doSearch: function () {
                this.loadCars();
            },
            showPhone: function () {
                this.showModal();
            },
            checkAndShowPhone: function () {
                if (!this.isPhone(this.condition.phone)) {
                    alert('手机号格式不符');
                    return;
                }
                let url = '/v1/cars/' + this.editCar.id + '?phone=' + this.condition.phone;
                axios.get(url).then(response => {
                    if (!response.data) {
                        alert('系统中未找到您的手机号，查看失败');
                        return;
                    }
                    response.data.money = this.intToMoney(response.data.money);
                    Vue.set(this, "editCar", response.data);
                    this.closeModal();
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            addCar: function () {
                this.initCar();
                this.toggleTabs(1);
            },
            editItem: function (item) {
                Vue.set(this, "editCar", item);
                this.toggleTabs(1);
            },
            saveCar: function () {
                if (!this.checkCondition())
                    return;
                let url = '/v1/cars';
                //this.editCar.Sn = "abc";
                axios.post(url, this.editCar).then(response => {
                    if (!response.data) {
                        alert('保存失败');
                        return;
                    }
                    this.loadCars();
                }).catch(error => {
                    this.ajaxError(error);
                });
            },
            checkCondition: function () {
                let reg = /^\d+$/;
                if (!reg.test(this.editCar.sn)) {
                    alert('sn只能是数字');
                    return false;
                }
                if (!this.isPhone(this.editCar.phone)) {
                    alert('手机号格式不符');
                    return false;
                }
                if (this.editCar.carNumber.length <= 0) {
                    alert('车牌必填');
                    return false;
                }
                this.editCar.carNumber = this.editCar.carNumber.toUpperCase();
                if (this.editCar.address.length <= 0) {
                    alert('地址必填');
                    return false;
                }
                if (this.editCar.money.length <= 0) {
                    this.editCar.money = '0';
                } else if (!(/^\d+(\.\d+)?$/).test(this.editCar.money)) {
                    alert('金额只能是数字');
                    return false;
                }
                this.editCar.money = this.moneyToInt(this.editCar.money);
                return true;
            },
            isPhone: function (phone) {
                let reg = /^1\d{10}$/;
                return (reg.test(phone));
            },
            moneyToInt: function (money) {
                return Math.floor(money * 100);
            },
            intToMoney: function (num) {
                return num / 100;
            },
            showModal: function () {
                let toast = document.getElementById('divToast');
                toast.style.display = 'block';
                toast.style.position = 'fixed';
                let winWidth = window.innerWidth;
                let winHeight = window.innerHeight;
                let targetWidth = toast.offsetWidth;
                let targetHeight = toast.offsetHeight;
                toast.style.top = '50px';//(winHeight - targetHeight) / 2 + 'px';
                toast.style.left = (winWidth - targetWidth) / 2 + 'px';
            },
            closeModal: function () {
                document.getElementById('divToast').style.display = 'none';
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    let msg = error.response.data['message'];
                    if (msg === 'Unauthorized') {
                        location.href = '/login?r=%2Fadmin%23%2FserverStatus.html';
                        return;
                    }
                    console.log(JSON.stringify(error.response.data));
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>