<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购买历史</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
</head>

<body style="height: 900px;">
<div id="divApp" style="height: 100%;">
    <template>
        <el-tabs v-model="tab.activeTab">
            <el-tab-pane label="历史订单" name="first">
                <el-table
                        :data="orderData"
                        stripe
                        show-summary
                        style="width: 100%">
                    <el-table-column
                            prop="orderNo"
                            label="订单号"
                            width="250">
                    </el-table-column>
                    <el-table-column
                            prop="buyNum"
                            label="购买月数"
                            width="60">
                    </el-table-column>
                    <el-table-column
                            prop="money"
                            label="支付金额"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="payTypeName"
                            label="渠道"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="statusName"
                            label="状态"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="description"
                            label="说明"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            prop="payTime"
                            label="支付时间"
                            width="230">
                    </el-table-column>
                    <el-table-column
                            prop="creationTime"
                            label="创建时间"
                            width="230">
                    </el-table-column>
                    <el-table-column label="">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.status=='SUCCESS'"
                                       size="mini"
                                       @click="getIP(scope.$index, scope.row)">提取代理
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </template>


    <el-dialog title="提取代理" :visible.sync="showGetIPDailogFlg" width="40%">
        <el-form :model="ipOrder" :rules="rulesIpOrder" ref="ipOrderForm">
            <el-form-item label="订单号" label-width="200px" prop="name">
                <el-input v-model="ipOrder.orderNo" placeholder="请输入用户名" maxlength="30" readonly></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="doGetIP('ipOrderForm')">注 册</el-button>
            <el-button @click="hideGetIPDailog">取 消</el-button>
        </div>
    </el-dialog>
</div>

<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                tab: {
                    activeTab: 'first',
                },
                user: {},
                orderData: [],

                showGetIPDailogFlg: false,
                ipOrder: {},
            }
        },
        created: function () {
            let url = '/user';
            axios.get(url).then(response => {
                if (!response || !response.data) {
                    alert('未取得登录信息');
                    return;
                }
                this.user = response.data;
                this.loadOrderDatas();
            }).catch(error => this.ajaxError(error));
        },
        methods: {
            showGetIPDailog: function (idx, row) {
                this.ipOrder = row;
                this.showGetIPDailogFlg = true;
            },
            hideGetIPDailog: function () {
                this.ipOrder = {};
                this.showGetIPDailogFlg = false;
            },
            doGetIP: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    alert(1111);
                });
            },
            loadOrderDatas: function () {
                let url = '/order';
                axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取失败');
                        return;
                    }
                    this.orderData = this.processData(response.data);
                }).catch(error => this.ajaxError(error));
            },
            processData: function (data) {
                for (let i = 0, j = data.length; i < j; i++) {
                    let item = data[i];
                    item.money = item.money / 100;
                    switch (item.status) {
                        case 'NO_PAY':
                            item.statusName = '未支付';
                            break;
                        case 'SUCCESS':
                            item.statusName = '成功';
                            break;
                        default:
                            item.statusName = '支付失败';
                            break;
                    }
                    switch (item.payType) {
                        case 0:
                            item.payTypeName = '余额支付';
                            break;
                        case 1:
                            item.payTypeName = '支付宝';
                            break;
                        case 2:
                            item.payTypeName = '微信';
                            break;
                        default:
                            item.payTypeName = '未知';
                            break;
                    }
                }
                return data;
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>