<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购买历史</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>

<body style="height: 900px;">
<div id="divApp" style="height: 100%;">
    <template>
        <el-tabs v-model="tab.activeTab">
            <el-tab-pane label="历史订单" name="first">
                <el-table
                        :data="orderData"
                        stripe
                        show-summary
                        style="width: 100%">
                    <el-table-column
                            prop="orderNo"
                            label="订单号"
                            width="250">
                    </el-table-column>
                    <el-table-column
                            prop="buyNum"
                            label="购买月数"
                            width="60">
                    </el-table-column>
                    <el-table-column
                            prop="money"
                            label="支付金额"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="payTypeName"
                            label="渠道"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="statusName"
                            label="状态"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="description"
                            label="说明"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            prop="payTime"
                            label="支付时间"
                            width="230">
                    </el-table-column>
                    <el-table-column
                            prop="endTime"
                            label="过期时间"
                            width="230">
                    </el-table-column>
                    <el-table-column
                            prop="disabled"
                            label="失效"
                            width="40">
                    </el-table-column>
                    <el-table-column label="">
                        <template slot-scope="scope">
                            <el-button v-if="canGetIP(scope.row)"
                                       size="mini"
                                       @click="showGetIPDailog(scope.$index, scope.row)">提取代理
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </template>


    <el-dialog title="提取代理" :visible.sync="showGetIPDailogFlg">
        <el-form :model="getIpCondition" :rules="rulesGetIpCondition" ref="ipOrderForm">
            <el-form-item label="订单号" label-width="200px" prop="orderNo" class="noborder">
                <el-input v-model="getIpCondition.orderNo" maxlength="30" readonly></el-input>
            </el-form-item>
            <el-form-item label="每次提取个数" label-width="200px" prop="pageSize">
                <el-input v-model="getIpCondition.pageSize" maxlength="30" style="width:150px"></el-input>
            </el-form-item>
            <el-form-item label="代理协议" label-width="200px" prop="protocal">
                <el-select v-model="getIpCondition.protocal" filterable placeholder="请选择代理协议" style="width:150px">
                    <el-option label="不限" value=""></el-option>
                    <el-option label="http/https" value="http"></el-option>
                    <el-option label="socks4/socks5" value="socks"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="过期时间" label-width="200px" prop="expireTime">
                <el-select v-model="getIpCondition.expireTime" filterable placeholder="请选择过期时间" style="width:150px">
                    <el-option label="不限" value="0"></el-option>
                    <el-option label="3分钟" value="180"></el-option>
                    <el-option label="10分钟" value="600"></el-option>
                    <el-option label="30分钟" value="1800"></el-option>
                    <el-option label="1小时" value="3600"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="代理所属区域" label-width="200px">
                <el-select v-model="province" filterable placeholder="请选择省" @change="changeProvince"
                           style="width:150px">
                    <el-option v-for="item in provinceList"
                               :label="item.text"
                               :value="item.id">
                    </el-option>
                </el-select>
                <el-select v-model="getIpCondition.area" filterable placeholder="代理所属区域" style="width:150px">
                    <el-option v-for="item in provinceSelected.citys"
                               :label="item.text"
                               :value="item.text">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="代理所属运营商" label-width="200px" prop="operators">
                <el-select v-model="getIpCondition.operators" filterable placeholder="请选择代理所属运营商" style="width:150px">
                    <el-option label="不限" value=""></el-option>
                    <el-option label="中国移动" value="mobile"></el-option>
                    <el-option label="中国联通" value="unicom"></el-option>
                    <el-option label="中国电信" value="telecom"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="响应格式" label-width="200px" prop="outputType">
                <el-radio v-model="getIpCondition.outputType" label="text">多行文本</el-radio>
                <el-radio v-model="getIpCondition.outputType" label="json">json</el-radio>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="doGetIPURL('ipOrderForm')">获取提取链接</el-button>
            <el-button @click="hideGetIPDailog">取 消</el-button>
            <el-input v-model="getIpConditionURL" maxlength="30"></el-input>
        </div>
    </el-dialog>
</div>

<script>
    // Array.prototype.contains = function (search) {
    //     for (let i in this) {
    //         if (this[i] === search) return true;
    //     }
    //     return false;
    // }

    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                tab: {
                    activeTab: 'first',
                },
                user: {},
                orderData: [],
                province: '',
                provinceSelected: {},
                provinceList: [{id: '', text: '不限', citys: [{code: '', text: '不限'}]}],

                showGetIPDailogFlg: false,
                getIpCondition: {
                    orderNo: '',
                    pageSize: 50,
                    area: '',
                    operators: '',
                    protocal: '',
                    expireTime: 0,
                    outputType: 'text',
                },
                rulesGetIpCondition: {
                    ipNumPerTime: [
                        {required: true, message: '提取个数必填', trigger: 'blur'},
                        {min: 1, max: 30, message: '提取个数有误', trigger: 'blur'},
                    ],
                },

                getIpConditionURL: '', // 生成的结果链接
            }
        },
        created: function () {
            let url = '/user';
            axios.get(url).then(response => {
                if (!response || !response.data) {
                    alert('未取得登录信息');
                    return;
                }
                this.user = response.data;
                this.loadOrderDatas();
            }).catch(error => this.ajaxError(error));
        },
        methods: {
            // 订单是否有效
            canGetIP: function (order) {
                if (order.status !== 'SUCCESS' || order.disabled === 1) {
                    return false;
                }
                return new Date(order.endTime) >= new Date();
            },
            loadCitys: function () {
                if (this.provinceList.length <= 1) {
                    axios.get('/ip/citys').then(response => {
                        if (!response || !response.data) {
                            alert('未取得城市信息');
                            return;
                        }
                        this.splitCityProvince(response.data);
                    }).catch(error => this.ajaxError(error));
                }
            },
            splitCityProvince: function (objCitys) {
                for (let cityCode in objCitys) {
                    let provinceName = objCitys[cityCode][1];
                    let cityName = objCitys[cityCode][0];
                    let provinceItem = this.searchProvince(provinceName);
                    if (provinceItem === null) {
                        provinceItem = {id: provinceName, text: provinceName, citys: [{code: '', text: '不限'}]};
                        this.provinceList.push(provinceItem);
                    }
                    provinceItem.citys.push({code: cityCode, text: cityName});
                }
            },
            searchProvince: function (provinceName) {
                for (let i = 0, j = this.provinceList.length; i < j; i++) {
                    let item = this.provinceList[i];
                    if (item.id === provinceName) {
                        return item;
                    }
                }
                return null;
            },
            changeProvince: function () {
                this.provinceSelected = this.searchProvince(this.province);
                this.getIpCondition.area = this.provinceSelected.citys[0].text;
            },
            showGetIPDailog: function (idx, row) {
                this.loadCitys();//.then((citys) => {
                this.getIpCondition.orderNo = row.orderNo;
                this.showGetIPDailogFlg = true;
                //});
            },
            hideGetIPDailog: function () {
                this.getIpCondition.orderNo = '';
                this.showGetIPDailogFlg = false;
            },
            doGetIPURL: function (form) {
                this.getIpConditionURL = '';
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    axios.get('/ip/url', {params: this.getIpCondition}).then(response => {
                        if (!response || !response.data) {
                            alert('未取得代理链接信息');
                            return;
                        }
                        this.getIpConditionURL = this.getUrlPrefix() + response.data;
                        alert('获取成功，请复制下面的链接使用');
                    }).catch(error => this.ajaxError(error));
                });
            },
            getUrlPrefix: function () {
                return location.protocol + '//' + location.host;
            },
            loadOrderDatas: function () {
                let url = '/order';
                axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取失败');
                        return;
                    }
                    this.orderData = this.processData(response.data);
                }).catch(error => this.ajaxError(error));
            },
            processData: function (data) {
                for (let i = 0, j = data.length; i < j; i++) {
                    let item = data[i];
                    item.money = item.money / 100;
                    switch (item.status) {
                        case 'NO_PAY':
                            item.statusName = '未支付';
                            break;
                        case 'SUCCESS':
                            item.statusName = '成功';
                            break;
                        default:
                            item.statusName = '支付失败';
                            break;
                    }
                    switch (item.payType) {
                        case 0:
                            item.payTypeName = '余额支付';
                            break;
                        case 1:
                            item.payTypeName = '支付宝';
                            break;
                        case 2:
                            item.payTypeName = '微信';
                            break;
                        default:
                            item.payTypeName = '未知';
                            break;
                    }
                }
                return data;
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>