<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>充值页面</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
</head>

<body style="height: 900px;">
<div id="divApp" style="height: 100%;">
    <template>
        <el-tabs v-model="tab.activeTab">
            <el-tab-pane label="用户充值" name="first" style="width:500px;">
                <el-form :model="userCharge" :rules="rulesUserCharge" ref="userChargeForm">
                    <el-form-item label="充值金额" label-width="200px" prop="money">
                        <el-input v-model="userCharge.money" placeholder="请输入充值金额" maxlength="20"
                                  style="width:50%;"></el-input>
                        <span>&nbsp;&nbsp;当前余额：{{(user.money/100)}} 元</span>
                    </el-form-item>
                    <el-form-item label="充值说明" label-width="200px" prop="title">
                        <el-input v-model="userCharge.title" placeholder="请输入充值说明" maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="充值备注" label-width="200px" prop="description">
                        <el-input v-model="userCharge.description" placeholder="请输入充值备注" maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="支付选项" label-width="200px" prop="payType">
                        <el-radio-group v-model="userCharge.payType">
                            <el-radio :label="1">支付宝</el-radio>
                            <el-radio :label="2" v-show="false">微信</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <div style="text-align: center">
                    <el-button type="primary" @click="doCharge('userChargeForm')"
                               v-if="isRealNameValidated">去支付
                    </el-button>
                    <el-button @click="location.reload()">刷新</el-button>
                    <span v-if="!isRealNameValidated" style="color:red;">您的实名认证尚未通过，无法充值</span>
                </div>
            </el-tab-pane>


            <el-tab-pane label="充值记录" name="second">
                <div style="text-align: left;">
                    <el-button @click="getPrevPage" :disabled="pageNum<=0">上一页</el-button>
                    <el-button @click="getAfterPage" :disabled="chargeData.length<pageSize">下一页</el-button>
                    <span>&nbsp;第 {{pageNum+1}}/{{Math.ceil(chargeTotalNum/pageSize)}} 页，总记录数 {{chargeTotalNum}} 条</span>

                    <button onclick="location.reload()">刷新</button>
                </div>
                <br>
                <el-table
                        :data="chargeData"
                        stripe
                        border
                        show-summary
                        style="width: 100%">
                    <el-table-column
                            prop="orderNo"
                            label="订单号"
                            width="250">
                    </el-table-column>
                    <el-table-column
                            prop="money"
                            label="充值金额"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="title"
                            label="说明"
                            width="200">
                    </el-table-column>
                    <el-table-column
                            prop="description"
                            label="备注"
                            width="300">
                    </el-table-column>
                    <el-table-column label="状态">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.status=='NO_PAY'"
                                       size="mini"
                                       @click="goPay(scope.$index, scope.row)">去支付
                            </el-button>
                            <span v-if="scope.row.status!='NO_PAY'">{{scope.row.statusName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="payTime"
                            label="支付时间"
                            width="230">
                    </el-table-column>
                    <el-table-column
                            prop="creationTime"
                            label="创建时间"
                            width="230">
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </template>


    <el-dialog title="支付成功？" :visible.sync="openPayConfirm" width="400px">
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="doPayConfirm">确认已支付</el-button>
            <el-button @click="openPayConfirm=false">取消支付</el-button>
            <el-button @click="location.reload()">刷新</el-button>
        </div>
    </el-dialog>
</div>

<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                tab: {
                    activeTab: 'first',
                },
                user: {},
                chargeData: [],
                chargeTotalNum: 0,
                pageNum: 0,
                pageSize: 12,

                userCharge: {
                    money: 1000,
                    title: '充值',
                    description: '充值',
                    payType: 1,
                },
                rulesUserCharge: {
                    money: [
                        {required: true, message: '金额必填', trigger: 'blur'},
                        {pattern: /^\d+(\.\d{1,2})?$/, message: '金额格式有误'}
                    ],
                },
                openPayConfirm: false,  // 是否弹窗显示支付成功的对话框
                payConfirmOrderNo: '',  // 点击确认时，用于确认的订单号
            }
        },
        created: function () {
            let url = '/user';
            axios.get(url).then(response => {
                if (!response || !response.data) {
                    alert('未取得登录信息');
                    return;
                }
                this.user = response.data;
                this.loadChargsDatas();
            }).catch(error => this.ajaxError(error));
        },
        computed: {
            isRealNameValidated: function () {
                return !!(this.user.realName && this.user.identity);
            },
        },
        methods: {
            goPay: function (idx, row) {
                window.open(row.payUrl, '_blank');
                this.showConfirmDialog(row.orderNo);
            },
            getPrevPage: function () {
                if (this.pageNum > 0) {
                    this.pageNum--;
                    this.loadChargsDatas();
                }
            },
            getAfterPage: function () {
                this.pageNum++;
                this.loadChargsDatas();
            },
            loadChargsDatas: function () {
                let url = '/user/charges?pageNum=' + this.pageNum + '&pageSize=' + this.pageSize;
                axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取失败');
                        return;
                    }
                    this.chargeData = this.processData(response.data.content);
                    this.chargeTotalNum = response.data.totalElements;
                }).catch(error => this.ajaxError(error));
            },
            processData: function (data) {
                for (let i = 0, j = data.length; i < j; i++) {
                    let item = data[i];
                    item.money = item.money / 100;
                    switch (item.status) {
                        case 'NO_PAY':
                            item.statusName = '未支付';
                            break;
                        case 'SUCCESS':
                            item.statusName = '成功';
                            break;
                        default:
                            item.statusName = '支付失败';
                            break;
                    }
                }
                return data;
            },
            doCharge: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/user/pay';
                    let args = {
                        money: this.userCharge.money * 100, // 接口单位是分
                        title: this.userCharge.title,
                        description: this.userCharge.description,
                        payType: this.userCharge.payType,
                    };
                    // 默认情况下Chrome会阻止ajax弹窗，用这个方法解决
                    let newWindown = window.open('about:blank', '_blank');
                    axios.post(url, args).then(response => {
                        if (!response || !response.data) {
                            newWindown.close();
                            alert('充值失败');
                            return;
                        }
                        // 返回充值地址，跳转过去付钱
                        newWindown.location.href = response.data.payUrl;
                        this.showConfirmDialog(response.data.orderNo);
                    }).catch(error => {
                        newWindown.close();
                        this.ajaxError(error);
                    });
                });
            },
            // 弹窗跳转到支付宝后，本页面弹出是否支付成功的对话框，以便用户点击查询支付结果
            showConfirmDialog: function (orderNo) {
                if (!orderNo) {
                    alert('订单号为空，出啥错了？');
                    return;
                }
                this.payConfirmOrderNo = orderNo;
                this.openPayConfirm = true;
            },
            doPayConfirm: function () {
                let url = '/user/payback/' + this.payConfirmOrderNo;
                axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取支付结果失败，请重试');
                        return;
                    }
                    alert(response.data);
                }).catch(error => this.ajaxError(error));
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>