<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>代理购买页面</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>
    <script src="/res/unpkg/qrcode.min.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .noborder input {
            border: none;
        }
    </style>
</head>

<body style="height: 900px;">
<div id="divApp" style="height: 100%;">
    <template>
        <el-tabs v-model="tab.activeTab" @tab-click="handleTabClick">
            <el-tab-pane v-for="item in products" :label="item.name" :name="item.name" style="width:80%;">
                <el-form :model="productBuyInfo" :rules="rulesProductBuyInfo" ref="productBuyInfoForm">
                    <el-form-item label="购买月数" label-width="200px" prop="buyNum" v-show="item.type==='MONTH'">
                        <el-select v-model="productBuyInfo.buyNum" filterable placeholder="请选择购买月数">
                            <el-option
                                    v-for="index of 36"
                                    :label="index + '个月'"
                                    :value="index">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="代理用途" label-width="200px" prop="using">
                        <el-select v-model="productBuyInfo.using" filterable placeholder="请选择代理用途">
                            <el-option
                                    v-for="item in usingArr"
                                    :label="item.name"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="用途补充说明" label-width="200px" prop="description">
                        <el-input v-model="productBuyInfo.description" placeholder="请输入补充说明"
                                  maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="IP有效时长" label-width="200px">
                        <el-radio-group v-model="productBuyInfo.buyIpTime">
                            <el-radio v-for="(item, idx) in product.ipValidTime" :label="idx">
                                {{item.minuteMin}}~{{item.minuteMax}}分钟
                            </el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="每天IP量" label-width="200px" prop="numPerDay">
                        <el-input v-model="productBuyInfo.numPerDay" placeholder="请输入每天IP量" maxlength="20"
                                  @change="formatIpNum"></el-input>
                    </el-form-item>
                    <el-form-item label="购买价格" label-width="200px">
                        <el-input v-model="payMoneyChinese" readonly maxlength="20" class="noborder"></el-input>
                    </el-form-item>
                    <el-form-item label-width="200px">
                        <el-radio-group v-model="productBuyInfo.payType">
                            <el-radio :label="0" :disabled="!isUserMoneyCanPay">余额支付</el-radio>
                            <el-radio :label="1">支付宝</el-radio>
                            <el-radio :label="2">微信</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <div style="text-align: center">
                    <el-button type="primary" @click="doBuy('productBuyInfoForm')"
                               v-if="isRealNameValidated">去支付
                    </el-button>
                    <el-button @click="top.location.href = '/profile/user.html?page=22'">去订单页</el-button>
                    <span v-if="!isRealNameValidated" style="color:red;">您的实名认证尚未通过，无法购买</span>
                </div>
            </el-tab-pane>

        </el-tabs>
    </template>

    <el-dialog :title="payConfirmTitle" :visible.sync="openPayConfirm" width="400px">
        <div id="divQrCode" name="divQrCodeName" class="divQrCodeCss" v-show="payConfirmType===2">
        </div>
        <br>
        <div>
            <el-button type="primary" @click="doPayConfirm">确认已支付</el-button>
            <el-button @click="openPayConfirm=false">取消支付</el-button>
            <el-button @click="location.reload()">刷新</el-button>
        </div>
    </el-dialog>
</div>

<script>
    const vueApp = new Vue({
        el: '#divApp',
        data: function () {
            return {
                tab: {
                    activeTab: '',
                    tabIndex: 0,
                },
                user: {},
                product: {},
                products: [],

                productBuyInfo: {
                    buyNum: 1,
                    using: '',
                    description: '',
                    payType: 1,
                    numPerDay: 1000,
                },
                rulesProductBuyInfo: {
                    description: [
                        {required: true, message: '用途必填', trigger: 'blur'},
                    ],
                    numPerDay: [
                        {required: true, message: 'IP数量必填', trigger: 'blur'},
                        {type: 'number', message: 'IP数量必须为数字值'}
                    ],
                },
                usingArr: [
                    {'name': '爬虫', 'value': 'CRAWLER'},
                    {'name': '浏览器代理', 'value': 'BROWSER'},
                    {'name': '网购、秒杀', 'value': 'BUYER'},
                    {'name': '视频播放', 'value': 'VIDEO'},
                    {'name': '软件用', 'value': 'SOFT'},
                    {'name': '刷票', 'value': 'VOTE'},
                    {'name': '发帖', 'value': 'BBS'},
                    {'name': '游戏', 'value': 'GAME'},
                    {'name': '注册', 'value': 'REGISTER'},
                    {'name': 'QQ', 'value': 'QQ'},
                    {'name': 'YY', 'value': 'YY'},
                    {'name': '其它', 'value': 'OTHER'}
                ],

                openPayConfirm: false,  // 是否弹窗显示支付成功的对话框
                payConfirmTitle: '',    // 弹窗标题
                payConfirmOrderNo: '',  // 点击确认时，用于确认的订单号
                payConfirmType: 1,      // 弹窗的支付类型，1支付宝，2微信
                qrCode: null,           // 二维码数据
            }
        },
        created: function () {
            this.showQrCode(null);

            let url = '/user';
            axios.get(url).then(response => {
                if (!response || !response.data) {
                    alert('未取得登录信息');
                    return;
                }
                this.user = response.data;
                this.loadProductDatas().then(this.loadedProductOK);
            }).catch(error => this.ajaxError(error));
        },
        computed: {
            isRealNameValidated: function () {
                return !!(this.user.realName && this.user.identity);
            },
            isUserMoneyCanPay: function () {
                let ret = this.user.money > this.payMoney * 100;
                if (!ret && this.productBuyInfo.payType === 0) {
                    this.productBuyInfo.payType = 1;
                }
                return ret;
            },
            payMoney: function () {
                if (this.productBuyInfo.buyIpTime === undefined) {
                    return 0;
                }
                // IP个数，按千个计算
                let ipThousand = Math.floor(this.productBuyInfo.numPerDay / 1000);
                if (!ipThousand || isNaN(ipThousand)) {
                    ipThousand = 0;
                }

                let price = this.product.ipValidTime[this.productBuyInfo.buyIpTime].price;

                return (this.productBuyInfo.buyNum * price * ipThousand / 100);
            },
            payMoneyChinese: function () {
                return this.payMoney + '元     【您的账户余额:' + this.user.money / 100 + '元】';
            },
        },
        methods: {
            loadedProductOK: function () {
                if (this.products.length > 0) {
                    this.initData(0);

                    this.tab.activeTab = this.product.name;
                    this.productBuyInfo.using = this.usingArr[0].value;
                    this.productBuyInfo.description = '用于' + this.usingArr[0].name;
                }
            },
            handleTabClick: function (tab, event) {
                this.initData(tab.index);
                this.tab.tabIndex = tab.index;
            },
            loadProductDatas: function () {
                let url = '/product/all';
                return axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取失败');
                        return;
                    }
                    this.products = (response.data.content);
                }).catch(error => this.ajaxError(error));
            },
            initData: function (idx) {
                this.product = this.products[idx]; // 切换tab页

                if (this.product.type === 'STREAM') {
                    this.productBuyInfo.buyNum = 1;
                }
                this.formatIpNum();
            },
            formatIpNum: function () {
                if (this.productBuyInfo.numPerDay < 1000) {
                    this.productBuyInfo.numPerDay = 1000;
                } else if (this.productBuyInfo.numPerDay > this.product.numPerDay) {
                    this.productBuyInfo.numPerDay = this.product.numPerDay;
                } else {
                    this.productBuyInfo.numPerDay = Math.ceil(this.productBuyInfo.numPerDay / 1000) * 1000;
                    if (isNaN(this.productBuyInfo.numPerDay)) {
                        this.productBuyInfo.numPerDay = 1000;
                    }
                }
            },
            doBuy: function (form) {
                this.$refs[form][this.tab.tabIndex].validate(valid => {
                    if (!valid)
                        return false;

                    let url = '/order';
                    // 深克隆
                    let args = JSON.parse(JSON.stringify(this.productBuyInfo));
                    args.productId = this.product.id;
                    args.payMoney = this.payMoney * 100; // 接口单位是分

                    // 默认情况下Chrome会阻止ajax弹窗，用这个方法解决; 0表示余额支付,不用弹窗;1表示支付宝,需要弹窗;2表示微信要展示二维码,不用弹窗;
                    let newWindown = args.payType !== 1 ? null : window.open('about:blank', '_blank');

                    axios.post(url, args).then(response => {
                        if (!response) {
                            if (newWindown)
                                newWindown.close();
                            alert('购买失败');
                            return;
                        }
                        if (response.data === null || response.data === '') {
                            alert('购买成功');
                            top.location.href = '/profile/user.html?page=22';
                            return;
                        }

                        // 返回充值地址，跳转过去付钱
                        if (args.payType !== 0) {
                            this.showConfirmDialog(response.data.orderNo, response.data.payUrl, args.payType, newWindown);
                        }
                    }).catch(error => {
                        if (newWindown)
                            newWindown.close();
                        this.ajaxError(error);
                    });
                });
            },
            // 弹窗跳转到支付宝后，本页面弹出是否支付成功的对话框，以便用户点击查询支付结果
            showConfirmDialog: function (orderNo, payUrl, payType, newWindow) {
                if (!orderNo) {
                    alert('订单号为空，出啥错了？');
                    return;
                }
                this.payConfirmTitle = '支付宝支付成功确认:';
                if (payType === 2) {
                    this.payConfirmTitle = '请打开手机微信扫描并支付:';
                    // 微信，直接展示二维码
                    this.showQrCode(payUrl);
                } else if (newWindow) {
                    // ajax弹窗会被拦截，要提前new一个窗口
                    newWindow.location.href = payUrl;
                } else {
                    window.open(payUrl, '_blank');
                }
                this.payConfirmType = payType;
                this.payConfirmOrderNo = orderNo;
                this.openPayConfirm = true;
            },
            showQrCode: function (url) {
                if (url) {
                    if (this.qrCode === null) {
                        this.qrCode = new QRCode(document.getElementById('divQrCode'), url);
                    } else {
                        this.qrCode.clear(); // clear the code.
                        this.qrCode.makeCode(url); // make another code.
                    }
                } else {
                    this.openPayConfirm = true;
                    this.$nextTick(function () {
                        this.openPayConfirm = false; // 让div渲染一下后再关闭
                    });
                }
            },
            doPayConfirm: function () {
                let url = '/user/payback/' + this.payConfirmOrderNo;
                axios.get(url).then(response => {
                    if (!response || !response.data) {
                        alert('获取支付结果失败，请重试');
                        return;
                    }
                    alert(response.data);
                }).catch(error => this.ajaxError(error));
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });
</script>
</body>
</html>