<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script type="text/javascript" src="/res/unpkg/vue.min.js"></script>
    <script type="text/javascript" src="/res/unpkg/axios.min.js"></script>
    <script src="/res/unpkg/elemeIndex.js"></script>

    <link rel="stylesheet" href="/res/unpkg/elemeIndex.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        .noborder input {
            border: none;
        }
    </style>
</head>

<body style="height: 900px;">
<div id="divApp" style="height: 100%;">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>账户设置</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click.native="switchTab(0)">个人信息</el-menu-item>
                        <el-menu-item index="1-2" @click.native="switchTab(1)">修改密码</el-menu-item>
                        <el-menu-item index="1-3" @click.native="switchTab(2)">实名认证</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>代理相关</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click.native="switchTab(3)">IP列表</el-menu-item>
                        <el-menu-item index="2-2" @click.native="switchTab(4)"
                                      v-if="user && user.roles && user.roles.indexOf('ADMIN')>=0">用户维护
                        </el-menu-item>
                        <el-menu-item index="2-3" @click.native="switchTab(5)"
                                      v-if="user && user.roles && user.roles.indexOf('ADMIN')>=0">IP维护
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="goProfile">个人中心</el-dropdown-item>
                        <el-dropdown-item @click.native="doLogout">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{user.name}}</span>
            </el-header>

            <el-main v-show="showTab===0">
                <el-form>
                    <el-form-item label="账号" label-width="200px">
                        <el-input :value="user.name" class="noborder" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" label-width="200px">
                        <el-input :value="user.phone" class="noborder" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" label-width="200px">
                        <el-input :value="user.realName" class="noborder" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="身份证" label-width="200px">
                        <el-input :value="user.identity" class="noborder" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="SecurityKey" label-width="200px">
                        <el-input :value="user.security" class="noborder" readonly></el-input>
                    </el-form-item>
                    <el-form-item label="注册时间" label-width="200px">
                        <el-input :value="user.creationTime" class="noborder" readonly></el-input>
                    </el-form-item>
                </el-form>
            </el-main>

            <el-main v-show="showTab===1">
                <el-form :model="changePwd" :rules="rulesChangePwd" ref="changePwdForm">
                    <el-form-item label="原密码" label-width="200px" prop="passwordOld">
                        <el-input v-model="changePwd.passwordOld" placeholder="请输入原密码" maxlength="30"
                                  show-password></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" label-width="200px" prop="password">
                        <el-input v-model="changePwd.password" placeholder="请输入新密码" maxlength="30"
                                  show-password></el-input>
                    </el-form-item>
                    <el-form-item label="密码确认" label-width="200px" prop="passwordConfirm">
                        <el-input v-model="changePwd.passwordConfirm" placeholder="请再次输入密码" maxlength="30"
                                  show-password></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary" @click="doChangePwd('changePwdForm')">修改密码</el-button>
            </el-main>

            <el-main v-show="showTab===2">
                <el-form :model="realnameIdentify" :rules="rulesRealnameIdentify" ref="realnameIdentifyForm">
                    <el-form-item label="真实姓名" label-width="200px" prop="realName">
                        <el-input v-model="realnameIdentify.realName" placeholder="请输入真实姓名" maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证号" label-width="200px" prop="identity">
                        <el-input v-model="realnameIdentify.identity" placeholder="请输入身份证号" maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="图形验证码" label-width="200px" prop="imgCode" style="text-align: left">
                        <el-input v-model="realnameIdentify.imgCode" placeholder="请输入图形验证码" maxlength="6"
                                  style="width:50%"></el-input>
                        <img :src="imgSrc" style="cursor: pointer; height: 30px;" @click="getImgCode"/>
                    </el-form-item>
                </el-form>
                <el-button type="primary" @click="doRealNameIdentify('realnameIdentifyForm')">提交认证</el-button>
            </el-main>

            <el-main v-show="showTab===3">
                <iframe :src="userIpPage" width="100%" height="95%" scrolling="auto" frameborder="0"></iframe>
            </el-main>

            <el-main v-show="showTab===4" v-if="user && user.roles && user.roles.indexOf('ADMIN')>=0">
                <iframe :src="adminUserPage" width="100%" height="95%" scrolling="auto" frameborder="0"></iframe>
            </el-main>

            <el-main v-show="showTab===5" v-if="user && user.roles && user.roles.indexOf('ADMIN')>=0">
                <iframe :src="adminIpPage" width="100%" height="95%" scrolling="auto" frameborder="0"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    var vueApp = new Vue({
        el: '#divApp',
        data: function () {
            let validatePass = (rule, value, callback) => {
                if (this.changePwd.password != this.changePwd.passwordConfirm)
                    return callback(new Error('两次密码输入不一致.'));
                return callback();
            };

            return {
                showTab: 0,
                user: {},
                imgSrc: '/favicon.ico',
                iframeSrc: '',
                userIpPage: '',
                adminIpPage: '',
                adminUserPage: '',

                changePwd: {
                    passwordOld: '',
                    password: '',
                    passwordConfirm: '',
                },
                rulesChangePwd: {
                    passwordOld: [
                        {required: true, message: '旧密码必填', trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '新密码必填', trigger: 'blur'},
                        {min: 6, max: 30, message: '新密码长度为6~30个字符', trigger: 'blur'},
                    ],
                    passwordConfirm: [
                        {required: true, message: '密码必填', trigger: 'blur'},
                        {min: 6, max: 30, message: '密码长度为6~30个字符', trigger: 'blur'},
                        {validator: validatePass, trigger: 'blur'},
                    ],
                },

                realnameIdentify: {
                    realName: '',
                    identity: '',
                    imgSn: '',
                    imgCode: '',
                },
                rulesRealnameIdentify: {
                    realName: [
                        {required: true, message: '真实姓名必填', trigger: 'blur'},
                    ],
                    identity: [
                        {required: true, message: '身份证号必填', trigger: 'blur'},
                        {pattern: /^\d{17}[\dXx]$/, message: '身份证号格式有误'}
                    ],
                },
            }
        },
        created: function () {
            // 这3个值在created才赋值，是避免iframe加载2次html
            this.userIpPage = '/list.html';
            this.adminIpPage = '/admin/list.html';
            this.adminUserPage = '/admin/user.html';

            let url = '/user';
            axios.get(url).then(response => {
                if (!response || !response.data) {
                    alert('未取得登录信息');
                    return;
                }
                this.user = response.data;
            }).catch(error => this.ajaxError(error));
        },
        mounted: function () {
            // //* iframe-宽高自适应显示
            // let frames = document.getElementsByTagName('IFRAME');
            // let deviceWidth = document.documentElement.clientWidth;
            // let deviceHeight = document.documentElement.clientHeight;
            // for (let i = 0, j = frames.length; i < j; i++) {
            //     let item = frames[i];
            //     item.style.width = (Number(deviceWidth) - 220) + 'px'; //数字是页面布局宽度差值
            //     item.style.height = (Number(deviceHeight) - 120) + 'px'; //数字是页面布局高度差
            // }
        },
        computed: {},
        methods: {
            switchTab: function (tab) {
                this.showTab = tab;
                if (tab === 2)
                    this.getImgCode();
            },
            goProfile: function () {
                location.href = '/profile/user.html';
            },
            doLogout: function () {
                let url = '/logout';
                location.href = url;
            },
            doChangePwd: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/user/pwd';
                    axios.post(url, this.changePwd).then(response => {
                        if (!response || !response.data) {
                            alert('修改失败');
                            return;
                        }
                        alert('修改成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            getImgCode: function () {
                let url = '/user/img';
                axios.get(url).then(response => {
                    if (!response || !response.data || !response.data.sn) {
                        return alert('获取图形验证码失败');
                    }
                    this.imgSrc = "data:image/jpg;base64," + response.data.img;
                    this.realnameIdentify.imgSn = response.data.sn;
                }).catch(error => this.ajaxError(error));
            },
            doRealNameIdentify: function (form) {
                this.$refs[form].validate(valid => {
                    if (!valid)
                        return false;
                    let url = '/user/identify';
                    axios.post(url, this.realnameIdentify).then(response => {
                        if (!response || !response.data) {
                            alert('认证失败');
                            return;
                        }
                        alert('认证成功');
                    }).catch(error => this.ajaxError(error));
                });
            },
            ajaxError: function (error) {
                if (error.response && error.response.data) {
                    console.log(JSON.stringify(error.response.data));
                    let msg = error.response.data['msg'];
                    if (!msg)
                        msg = '出错了';
                    alert(msg);
                } else {
                    console.log(JSON.stringify(error));
                    alert('未知错误');
                }
            },
        },
    });


    /**
     * 滚动到窗口底部
     */
    function toWindowBottom() {
        window.scrollTo(0, getWindowHeight());
    }

    /**
     * 获取窗口高度
     * @return {number} 窗口高度值
     */
    function getWindowHeight() {
        // body是chrome，documentElement是IE和Firefox
        return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
    }

    /**
     * 获取url里的变量值
     * @param {string} name 变量名
     * @return {string} 变量值
     */
    function getQueryString(name) {
        if (typeof (name) !== 'string') {
            return '';
        }
        name = name.trim();
        if (name.length === 0) {
            return '';
        }
        let localSearch = location.search.toLocaleLowerCase();
        name = name.toLowerCase() + '=';
        let tmpName = '?' + name;
        let idx = localSearch.indexOf(tmpName);
        if (idx < 0) {
            tmpName = '&' + name;
            idx = localSearch.indexOf(tmpName);
            if (idx < 0) {
                return '';
            }
        }
        name = tmpName;
        let tmp = location.search.substr(idx + name.length);
        idx = tmp.indexOf('&');
        if (idx === 0)
            return '';
        let ret;
        if (idx < 0) {
            ret = tmp;
        } else {
            ret = tmp.substr(0, idx);
        }
        return decodeURIComponent(ret.trim());
    }
</script>
</body>
</html>